*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.from-container{
    background-color: white;
    width: 300px;
    margin: 50px auto;
    box-shadow: 1px 3px 7px 3px rgba(0, 0, 0, grey);
}
.from-container h3{
    text-align: center;
    padding: 8px;
}
.from-gp{
    padding: 8px;
}
button{
    background-color: blue;
    width: 100%;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    border: none;
}
input[type="text"],
input[type="password"] {
  padding: 8px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}